.box1{
    background-color: #1e5b69 !important;
    height: 150px !important;
}

.redes{
    font-size: 60px !important;
    color: #234148 !important;
}

.box2{
    background-color: #397683 !important; 
    height: 60px !important;
}

.textos{
    color: white !important;
}